html {
    height: 200%;
    background:blanchedalmond; 
  }
  body {
     width: 800px;
     height: 100%;
  }

  header {
      background-color:whitesmoke ;
      padding: 7px;
      font-size: xx-large;  
      display: block;
      border: 6px solid #000000; 
      text-align: center;  
      font-style:oblique; 

  }
  nav {
      float: left;
      width: 100%;
  }
  nav ul {
      padding: ;
      float: left; 
      border-bottom: ;
      list-style-type: none;
  }
  nav li {
      float: left;
      font-size:x-large;    
  }
  nav li a {
      display: block;
      height: 25px;
      padding: 12px 18px 8px 18px;
      vertical-align: middle;
  }
  a {
      color: #000000 ;
  }
  section {
      width: 60%; 
      display: inline-block;
      float: left;
      font-size: larger; 
  }
   p{
      font-size: 150%;  
      text-align:center; 
      font-style:italic; 
   }   
  }
  aside {
      width: 17%;
      display: inline-block;
      background-color:;
      padding:;
      min-height: 100%;
  }
  aside ul {
      list-style-type: none;
  }
  footer {
      width: 500px;
      background-color:;
      color:;
      clear: both;
      display: block;
  }
   img {
       width: 180%;
       image-rendering: pixelated;     
      }
    #FairlyOddParents {
        text-align:right;
        width: 1800px;
        position:relative; 
        image-rendering:pixelated; 
        z-index: 1; 
    }
    #medium {
        height: 1500px;
        width: 500px; 
        float:right;
        bottom:400px; 
        right: 100px; 
        position:absolute;
    }